.selectLanguageElement {
  background-color: transparent;
  border: none;
  color: var(--clr-border);
  font-weight: bold;
  font-size: 1rem;
  border: solid 2px transparent;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    border-color: var(--clr-text);
  }

  & option {
    background-color: var(--clr-border);
    color: var(--clr-text)
  }
}