.container {
  background-color: var(--clr-card);
  height: 350px;
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: solid 1px var(--clr-border);
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 10px;
}