@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,600&display=swap');

:root {
  --clr-card: #212936cc;
  --clr-border: #4D5562;
  --clr-text: #F9FAFB;
  --clr-bg: #CDD5E0;
}

body {
  display: grid;
  place-items: center;
  min-height: 100dvh;
  background-color: rgb(29, 29, 29);
  font-family: 'DM Sans', sans-serif;
  background-color: var(--clr-bg);
}

main {
  background: url("/hero_img.jpg") no-repeat;
  background-size: auto 100%;
  width: 1280px;
}