@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,600&display=swap');

:root {
  --clr-card: #212936cc;
  --clr-border: #4D5562;
  --clr-text: #F9FAFB;
  --clr-bg: #CDD5E0;
}

#app {
  display: grid;
  place-items: center;
  height: 100dvh;
  font-family: 'DM Sans', sans-serif;
  background-color: black;
  padding: clamp(0.5rem, 1vw, 2rem);
  background: url("/hero_img.jpg") no-repeat center;
  background-color: #040711;

  @media (width < 1000px) {
    background-size: cover;
  }
}

main {
  max-width: 1280px;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: var(--gap);
  height: 310px;

  @media (width < 1000px) {
    flex-direction: column;
    height: 100%;
  }
}